.card {
  max-width: 600px;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  text-align: center;
}

.city {
  font-weight: 500;
  font-size: 18px;
  color: rgb(62 62 62 / 74%);
}

.bold {
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #007bff;
}

.weather-items {
  list-style-type: none;
  padding: 0;
  margin-top: 15px;
}

.weather-items li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.wind-line {
  display: flex;
  align-items: center;
}

.caption {
  font-weight: bold;
  color: #000080;
  margin-right: 5px;
}
