<mat-card class="card" *ngIf="weather && units">
  <div>
    <img [src]="getIconUrl(weather.weather[0].icon)" alt="weather icon" />
  </div>
  <mat-card-header class="temp">
    <mat-card-title>
      {{ weather.temp | transformUnitValue : "temp" : units
      }}{{ unitMapper[units].tempUnit }}
    </mat-card-title>
    <mat-card-subtitle class="city">
      {{ weather.cityName }}, {{ weather.country }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="bold">
      Feels like {{ weather.feelsLike | transformUnitValue : "temp" : units
      }}{{ unitMapper[units].tempUnit }}.
      {{ weatherDescription }}
    </div>
    <mat-divider></mat-divider>

    <ul class="weather-items">
      <li>
        <div class="wind-line">
          <span class="caption">Wind speed :</span>
          {{ weather.windSpeed | transformUnitValue : "windSpeed" : units }}
          {{ unitMapper[units].windSpeedUnit }}
        </div>
      </li>
      <li>
        <div class="wind-line">
          <span class="caption">Pressure :</span>
          {{ weather.pressure | transformUnitValue : "pressure" : units }}
          {{ unitMapper[units].pressureUnit }}
        </div>
      </li>
      <li>
        <div class="wind-line">
          <span class="caption">Humidity :</span>
          {{ weather.humidity }}%
        </div>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
